### Input

In [ ]:
# str=input("Enter your input")
# #print (str)
# print("Received input is: ",str)


# # Example

name=input("Enter your name")

age=input("Enter your age")

print("Welcome ",name)
print("Your age is ",age)

print("After 5 years, your age will be :",(int(age)+5))

In [ ]:
import os

newfile=open("session2/574_m2_codes_v3.0/Edureka_Py.txt","w+")

for i in range(1,10):
    newfile.write("\n Hello, welcome to Python:")

newfile.close()

In [ ]:
os.getcwd()

In [ ]:
pwd()

In [ ]:
newfile=open("session2/574_m2_codes_v3.0/Edureka_Py.txt","r")
#print (newfile.mode)
for i in range(1,10):
    print(newfile.read(10))
# newfile.seek(5)
# print (newfile.read())
# print(newfile.tell())
newfile.close()

In [ ]:
os.rename("session2/574_m2_codes_v3.0/Edureka_Py.txt","session2/574_m2_codes_v3.0/Py.txt")
#os.remove("Edureka_Py.txt")

### List operation

In [ ]:
list=["Marketing","Content Designing","Sales"]
print(list)

#Concatenation
# print(list+["Python","Hadoop"])

# Repetition
# print(list*2)

# Membership Testing
print('Marketing' in list)

# Indexing
print(list[2])

# Slicing
print(list[0:2])

In [ ]:
list=["Hadoop","Python","Android"]
print(list[0:2])

print(list[-1])
print (list[2])

In [ ]:
list=["Hadoop","Python","Android"]
list[1]="Java"
print(list)

In [ ]:
del(list[2])
print(list)

In [ ]:
list=[1,2,3]
list.append("Machine Learning")
print(list)

In [ ]:
list.extend(['g','h'])
print(list)

In [ ]:
list.insert(1,'Scripting')
print(list)
print (list)
list.remove('g')
print(list)

In [ ]:
lst=[1,4,2,'x','y','z']
if(type(lst)==list):
    print("Yes")

type(lst)

In [ ]:

list4=['Python','Java','Hadoop','Android']
print (list4)
print(list4.sort())
# print(list4.reverse())

list4[::-1]

In [ ]:
vowels = ['e', 'a', 'u', 'o', 'i']
vowels.sort()
print(vowels)

In [ ]:
list=[1,2,3,4,5,'a','b','c']
print (list)
print(list.pop(3))
print (list)

In [ ]:



# list3=[1,2,5,'Python','Haddop']
# # print(type(list3))





# print([x**2 for x in[1,2,3,4,5]])



# list.remove('a')
# print(list)

# list1=['Python','XYZ','ABC','PQR']
# print(list1)

# print(sorted(list1))

# print(list1[::-1])

In [ ]:
a=[]
for x in [1,2,3,4,5]:
   a.append(x**2)    
print (a)

l = [x**2 for x in [1,2,3,4,5]]   ### List comprehension
print (l)

print([x**2 for x in[1,2,3,4,5]])

In [ ]:
list=["Hadoop","Python","Android"]
print(list)

tuple=("Python","Hadoop")
print(tuple)

In [ ]:
list=[(1,2,3),("Python","Java")]
print(list)
print(len(list))
print(list[1][0])
print(list[0][1])
list[0]=50
list[1]=10
print (list)

### Tuple Operation

In [ ]:
tup1=("Haddop","Python","Java")

print(len(tup1))
print(max(tup1))
print(min(tup1))

In [ ]:
tup=(1,3,5,2,4,5,6)

print(sorted(tup))
print(tup[::-2])

In [ ]:
tup1=("Hadoop","Python","Java")

print(len(tup1))

print(tup1*2) ## repitition

print("Java" in tup1)

In [ ]:

tup2=(1,3,5,7)
tup3=(2,4,6,8)
tup4=tup2+tup3
print(tup4)

del(tup2)

print (tup4)
print(tup2)

In [ ]:
tup=([1,2,3],[3,4,5,6,7,8],[5,6,7])
print(tup)
print(len(tup))
# print(tup[0][1])
#t = tup[0]
#print (t)
tup[0][2] = 20
print (tup)

In [ ]:
#tup[start:end:step]
tup[::2]

In [ ]:
# #Updating Tuple
# tup[0][1]=90
print(tup)

#Deleting element in Tuple
del(tup[1][2])
print(tup)
del(tup[1])
print (tup)

In [ ]:

list=[1,2,'Python','Android']
print(list)

list[2]='Data Science'
print(list)

tup=(1,2,3,'Data Science')
print(tup)

tup[1]='Python'
print(tup)

In [ ]:
tuple1=(1,3,5,7,'a','b')
lst= list(tuple1)

print(lst)

lst[1]="Python"
print(lst)

tuple2=tuple(lst)
print(tuple2)

### String

In [ ]:
str1='Welcome'
str2="to"
str3="Edureka"

print(str1)
print(str2)
print(str3)

In [ ]:
string="Python"
print(string)
print(len(string))
print(string[2:4])
print('y' in string)

In [ ]:
### format printing
print("Welcome to %s, my name is %s "%("Python",'Vivek'))
print("My name is %s and my age is %d"%("Annie",22))

In [ ]:
str='edureka'
print (str.split())
print(str.upper())
print(str.capitalize())
print(str.count("e",0,len(str)))

In [ ]:
s=str.encode('utf-8','strict')
print(s)

In [ ]:
print(max(str))
print(min(str))
print(str.replace('e','--E--',1))
print(str.upper())
print(str.index('eka'))

In [ ]:


str1="Happy is Learning"

# print (str1.split("is"))
# print(str1[::-1])
# print (str1)
# print(str1[2:8:2])

print(str1.find('L'))

str2="Welcome to Edureka"

print(str1 + " " + str2)

print(str1*2)

### Sets

In [ ]:
X=set('welcome To edureka')
print(X)

In [ ]:
A={1,2,3,4}
B={3,4,5,6}
print(A|B)
print(A&B)

In [ ]:
A={1,2,3,4,5}
B={4,5,6,7,8}
print(A-B)

In [ ]:
s={'a','b','c','d','e','f','o','v'}
set1={'a','b','d','o','v'}
set2={'a','c','d','o','e'}
print(set1|set2)
print(set1&set2)
print(set1-set2)

In [ ]:
s={1,2,3,'a','b'}
set1={1,'a','b'}
print(1 in s)

In [ ]:
print(set1.issubset(s))

In [ ]:
print(5 not in s)

print(s.issuperset(set1))

print(s.union(set1))

print(s.intersection(set1))

print(s.difference(set1))

print(s.symmetric_difference(set1))


s={1,2,3,'a','b'}
s.add('e')
print(s)

In [ ]:
s.remove(1)
print(s)

s.discard(3)
print(s)

s.pop()
print(s)

s.clear()
print(s)

### Dictionary

In [1]:
#d = dict{}
dict1={1:"Python",2:"Android"}
print(dict1)
print(dict1[1])

{1: 'Python', 2: 'Android'}
Python

In [ ]:
dict1[2]="Javascript" 
print(dict1)

In [ ]:
del(dict1[2])
print(dict1)

In [3]:
print(len(dict1))
print(type(str(dict1)))
print(type(dict1))

2
<class 'str'>
<class 'dict'>

In [4]:

print(dict1.copy())
dict1.clear()
print(dict1)

{1: 'Python', 2: 'Android'}
{}

In [12]:
rec = {'name': {'first': 'Bob', 'last': 'Smith'},
'jobs': ['dev', 'mgr'],'age': 40.5}
print(rec.get('jobs'))

mgr

In [ ]:
d ={1:"A",2:"B",3:"A"} 
d

In [32]:
#add
dict1={5:'Python',2:'Android'}

# print(dict1.items())

# print(dict1.keys())

# print(dict1.values())

t = dict1.setdefault('Python',10)
print (t)
type(t)

# print (dict1)

10

int

In [20]:

dic={3:'Python',1:'Java',2:'Big Data'}
ks=dic.keys()
print(ks)

dict_keys([3, 1, 2])

In [24]:
sk=sorted(ks)
print(sk)

[1, 2, 3]

In [25]:
dic[2]

'Big Data'

In [22]:
for key in sk:
    print(key,'=>',dic[key])

1 => Java
2 => Big Data
3 => Python

In [35]:
#tuple in set
dict={1:(1,2,3),2:(3,4,5)}
print(dict)
print(dict[1])


#list in set
dict={1:["Python","Java"],2:[1,3,5,7]}
print(dict)
print(dict[1])

{1: (1, 2, 3), 2: (3, 4, 5)}
(1, 2, 3)
{1: ['Python', 'Java'], 2: [1, 3, 5, 7]}
['Python', 'Java']